{% extends 'base-2.html'%}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% get_providers as socialaccount_providers %}

{% block head_title %}Login{% endblock %}

{% block content %}

  <main
    class="w-full h-full py-4 px-4 overflow-hidden"
    style="width: 100vw; ">
    <!-- <div
      class="absolute inset-0 -z-20 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]">
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#f8fafc,transparent)]"></div>
    </div> -->

    <div class="relative w-full">
      <div
        class="absolute -right-24 -z-10 -top-28 h-72 w-72 animate-pop-blob rounded-sm bg-blue-400 p-8 opacity-45 mix-blend-multiply blur-3xl filter"></div>
      <div
        class="absolute -left-40 -z-10 -top-64 h-72 w-72 animate-pop-blob rounded-sm bg-purple-400 p-8 opacity-45 mix-blend-multiply blur-3xl filter"></div>
    </div>

    <!-- MAIN 2 -->
    <div class="lg:pt-12 lg:w-full lg:flex lg:flex-row justify-evenly">
      <div>
        <img
          class="block lg:hidden w-28 lg:w-[14rem] py-4"
          src="{% static 'user/images/logo.PNG' %}"
          alt="" />

        <div
          class="hidden lg:block relative h-fit w-fit overflow-hidden rounded-2xl bg-gray-200 p-px">
          <div
            class="absolute inset-0 h-full w-full animate-trail"
            style="
              --duration: 6s;
              --angle: 0deg;
              background: conic-gradient(
                from var(--angle) at 50% 50%,
                transparent 90%,
                #3085fe
              );
            "></div>
          <div
            class="relative overflow-hidden rounded-[15px] w-60 bg-white flex justify-center">
            <img
              class="w-28 lg:w-[14rem] py-4"
              src="{% static 'user/images/logo.PNG' %}"
              alt="" />
          </div>
        </div>

        <div class="lg:p-4"></div>

        <span class="font-semibold text-2xl font-lexend text-saqBlack">
          Welcome Back 👋
        </span>
        <br />
        <span class="font-semibold text-2xl font-lexend text-saqBlack">
          to
        </span>
        <!-- <span
          class="bg-size animate-bg-position bg-gradient-to-r from-blue-300 via-blue-600 to-purple-500 from-30% via-50% to-80% bg-[length:200%_auto] bg-clip-text text-transparent text-3xl font-semibold font-lexend">
          SAQ Laboratory
        </span> -->
        <!-- <br />  
        <div
          class="inline-flex cursor-pointer items-center rounded-lg border-2 hover:border-sky-500 border-sky-300 bg-muted md:border-4 md:px-6 md:py-2 md:text-2xl font-bold from-blue-300 via-blue-600 to-purple-300 text-3xl font-lexend">
          <span
            class="bg-size animate-bg-position bg-gradient-to-r from-blue-300 via-blue-600 to-purple-300 from-30% via-50% to-80% bg-[length:200%_auto] bg-clip-text text-transparent text-3xl font-lexend">
            Attendee
          </span>
        </div> -->

        <a
          class="font-semibold text-2xl text-saq1 font-lexend"
          href="#"
          aria-label="Brand"
          >SAQ Laboratory</a
        >
      </div>

      <div class="mt-0 rounded-xl">
        <p class="font-light py-4 text-sm" style="color: #acafb5">
          Hello there, login to continue
        </p>
        <div class="mt-0">
          <!-- Form -->
          <form method="post" action="{% url 'account_login' %}">
        
            {% if form.non_field_errors %}
            <div id="dismiss-alert" class="hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 mt-2 bg-blue-100 border border-blue-200 text-sm text-blue-800 rounded-lg p-4 fixed top-4 right-4" role="alert" tabindex="-1" aria-labelledby="hs-dismiss-button-label">
                <div class="flex">
                <div class="shrink-0">
                    <svg class="shrink-0 size-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
                    <path d="m9 12 2 2 4-4"></path>
                    </svg>
                </div>
                <div class="ms-2">
                    <h3 id="hs-dismiss-button-label" class="text-sm font-medium">
                        <ul class='form-errors'>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </h3>
                </div>
                <div class="ps-3 ms-auto">
                    <div class="-mx-1.5 -my-1.5">
                    <button type="button" class="inline-flex bg-blue-50 rounded-lg p-1.5 text-blue-800 hover:bg-blue-100 focus:outline-none focus:bg-blue-100" data-hs-remove-element="#dismiss-alert">
                        <span class="sr-only">Dismiss</span>
                        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                        </svg>
                    </button>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}
            <div class="flex flex-col gap-4">
                {% csrf_token %}
              <!-- Form Group -->
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div>
                <label for="email" class="block text-xs mb-2 text-saq1"
                  >Username*</label
                >
                <div class="relative">
                  <input
                    type="text"
                    id="login"
                    name="login"
                    class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none text-saq1"
                    required
                    aria-describedby="login-error" />
                  <div
                    class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                    <svg
                      class="size-5 text-red-500"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      aria-hidden="true">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                  </div>
                </div>
                <p class="hidden text-xs text-red-600 mt-2" id="login-error">
                  Please include a valid login address so we can get back to
                  you
                </p>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div>
                <div class="flex justify-between items-center">
                  <label for="password" class="block text-xs mb-2 text-saq1"
                    >Password</label
                  >
                  <a
                    class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium  "
                    href="{% url 'presence:request-password-reset' %}"
                    >Forgot password?</a
                  >
                </div>
                <div class="relative">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none text-saq1"
                    required
                    aria-describedby="password-error" />
                  <div
                    class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                    <svg
                      class="size-5 text-red-500"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      aria-hidden="true">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                  </div>
                </div>
                <p
                  class="hidden text-xs text-red-600 mt-2"
                  id="password-error">
                  8+ characters required
                </p>
              </div>
              <!-- End Form Group -->

              <!-- Checkbox -->
              <div class="flex items-center">
                <div class="flex">
                  <input
                    id="remember-me"
                    name="remember"
                    type="checkbox"
                    class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500" />
                </div>
                <div class="ms-3">
                  <label
                    for="remember-me"
                    class="text-sm"
                    style="color: #acafb5"
                    >Remember me</label
                  >
                </div>
              </div>
              <!-- End Checkbox -->

              <button
                class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                Sign in
            </button>
            </div>
          </form>
          <!-- End Form -->
        </div>

        <div
          class="py-3 flex items-center text-xs text-gray-400 uppercase before:flex-1 before:border-t before:border-gray-200 before:me-6 after:flex-1 after:border-t after:border-gray-200 after:ms-6      ">
          Or
        </div>
        <div class="text-center">
          <p class="mt-2 text-sm text-gray-600  ">
            Don't have an account yet?
            <a
              class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium  "
              href="{% url 'account_signup' %}">
              Sign up here
            </a>
          </p>
        </div>

      
      </div>
    </div>
  </main>

{% endblock %}