{% extends 'base.html' %}
{% load static %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <script src="{% static 'user/js/qrcode.min.js' %}"></script>

    <div class="d-lg-flex">
        <div class="col-lg col mx-auto">
            <div class="card">
                <div class="card-body">
                    <div id="reader"></div>
                </div>
            </div>
        </div>
        <div class="col-lg col mx-auto">
            <h4>SCAN RESULT</h4>
            <div id="result"></div>
        </div>
    </div>
</div>

{% csrf_token %}

<script type="text/javascript">
    let token = document.getElementsByName("csrfmiddlewaretoken");
    console.log(token[0].value)
    let handle;

    function onScanSuccess(qrCodeMessage) {

        axios({
            method: 'post',
            url: '{% url "api:take-presence" %}?format=json',
            headers: {
                'X-CSRFToken': token[0].value,
                'Content-type': 'Application/json'
            },
            data: {
                'code': qrCodeMessage,
                'unknown_number': '{{ request.user.id }}'
            }
        })
        .then(response => {
            console.log(response)
            window.location.replace('{% url "presence:landing" %}')
        })
        .catch(error => {
            onScanError(error.response.data.text)

        })
        document.getElementById('result').innerHTML = '<span class="alert alert-info">' + handle + '</span>'

    }

    function onScanError(errorMessage) {
        handle = errorMessage;
    }

    let html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", {fps: 10, qrbox: 250});
    html5QrcodeScanner.render(onScanSuccess, onScanError);

</script>
{% endblock %}