{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <a href="{% url 'presence:join-class' %}" class="btn btn-primary">Join Class</a>
    <a href="{% url 'presence:landing' %}" class="btn btn-secondary">Back To Home</a>
    <div class="table-responsive my-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nama Kelas</th>
                <th scope="col">PJ Kelas</th>
                <th scope="col">Asisten Kelas</th>
                <th scope="col">Recaps</th>
                <th scope="col">File</th>
            </tr>
            </thead>
            <tbody>
            {% for class in classes %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ class }}</td>
                <td>{{ class.creator }}</td>
                <td>
                    {% for pr in class.pr.all %}
                    {{ pr }} <br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'presence:my-presence-recap' class.link %}" class="btn btn-primary mt-0 mx-1 mb-1">Presence Recaps</a>
                    <a href="{% url 'presence:my-score-recap' class.link %}" class="btn btn-primary m-1">Score Recaps</a>
                </td>
                <td>
                    <a href="{% url 'presence:upload-file' class.link %}" class="btn btn-primary">Upload Files</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}