{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <a href="{% url 'presence:join-class' %}" class="btn btn-primary">Join Class</a>
    <a href="{% url 'presence:landing' %}" class="btn btn-secondary">Back To Home</a>
    <div class="table-responsive my-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nama Kelas</th>
                <th scope="col">PJ Kelas</th>
                <th scope="col">Asisten Kelas</th>
                <th scope="col">File</th>
            </tr>
            </thead>
            <tbody>
            {% for class in classes %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ class }}</td>
                <td>{{ class.creator }}</td>
                <td>
                    {% for pr in class.pr.all %}
                    {{ pr }}
                    {% endfor %}
                </td>
                <td>
<!--                    {{ class.from_class.all.count }} - -->
<!--                    {% for x in class.from_class.all %}-->
<!--                    {% endfor %}-->
                    <a href="{% url 'presence:upload-file' class.link %}" class="btn btn-primary">Upload Files</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}