{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nama Kelas</th>
            <th scope="col">Detail</th>
            <th scope="col">See File</th>
            <th scope="col">Presence</th>
        </tr>
        </thead>
        <tbody>
        {% for class in classes %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ class }}</td>
            <td><a href="{% url 'assist:my-class' class.link %}" class="btn btn-primary">Detail</a></td>
            <td><a href="{% url 'assist:file-class' class.link %}" class="btn btn-primary">See File</a></td>
            <td><a href="{% url 'assist:generated-qr' class.link %}" class="btn btn-primary">See Presence History</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}