{% extends 'base.html' %}

{% block content %}
<div class="container my-5 mx-auto">
    <div class="form-group row">
        <div class="col-3 col-sm-3">Nama Kelas</div>
        <div class="form-control col-9 col-sm-9">{{ class.name }}</div>
    </div>
    <div class="form-group row">
        <div class="col-3 col-sm-3">Kode Kelas</div>
        <div class="form-control col-9 col-sm-9">{{ class.unique_code }}</div>
    </div>
    <div class="form-group row">
        <div class="col-3 col-sm-3">Penanggung Jawab Kelas</div>
        <div class="form-control col-9 col-sm-9">{{ class.creator }}</div>
    </div>
    <div class="form-group row">
        <div class="col-3 col-sm-3">Assisten Kelas</div>
        <div class="form-control col-9 col-sm-9 custom-select" multiple="">
            {% if class.pr.all %}
                {% for pr in class.pr.all %}
            <option>{{ pr }}</option>
                {% endfor %}
            {% else %}
            <option>No Assistant Registered Here</option>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-3 col-sm-3">Langsung Generate QRCode</div>
        <button type="button" class="btn btn-primary col-9 col-sm-9" data-toggle="modal" data-target="#staticBackdropGenerate">Generate QR Code</button>
    </div>
    <div class="form-group row">
        <div class="col-3 col-sm-3">Lihat Rekap Presensi</div>
        <a href="{% url 'assist:generated-qr' view.kwargs.link %}" class="btn btn-primary col-9 col-sm-9"> Lihat Recap</a>
    </div>
    <div class="form-group row">
        <div class="col-3 col-sm-3">Ubah Detail Kelas</div>
        <button type="button" class="btn btn-primary col-9 col-sm-9" data-toggle="modal" data-target="#staticBackdropUpdate">Ubah Detail Kelas</button>
    </div>
    <div class="form-group row">
        <div class="col-3 col-sm-3">Rekap Nilai Mahasiswa</div>
        <a href="{% url 'assist:score' view.kwargs.link %}" class="btn btn-primary col-9 col-sm-9" >Lakukan Rekap</a>
    </div>
</div>

<!-- MODAL SECTION -->
{% include 'temp_/modal/modal_update.html' %}
{% include 'temp_/modal/modal_generate_confirm.html' %}
{% endblock %}