{% extends 'base.html' %}

{% block title %} Mahasiswa {{ class_name }} {% endblock %}

{% block content %}
<div class="container mt-5">
    <form method="get">
        <div class="form-group">
            <label for="classification">Jenis Rekap</label>
            <select name="classification" id="classification" class="form-control">
                <option selected value="">. . .</option>
                {% for class in classification %}
                <option value="{{ forloop.counter }}">{{ class }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Set</button>
            <a href="{% url 'assist:view-score' class.link %}" class="btn btn-outline-primary">Download Nilai</a>
        </div>
    </form>

    {% if show %}
    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if multiple %}
                <div class="form-group">
                    <label for="named">Urutan ke </label>
                    <select name="named" id="named" class="form-control" required>
                        <option selected value="">. . .</option>
                        {% for item in items %}
                        <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% else %}
                <input type="text" name="named" id="named" readonly value="{{ name }}" hidden>
                {% endif %}
                {% for std in class_name.students.all %}
                <div class="form-group row">
                    <div class="col-lg-3">
                        <input type="text" name="data{{ forloop.counter }}" id="data{{ forloop.counter }}"
                               class="form-control" value="{{ std.user.nim }}" readonly>
                    </div>
                    <div class="col-lg-9">
                        <input type="number" name="score{{ forloop.counter }}" id="{{ forloop.counter }}"
                               class="form-control" max="100" title="nilai maximum adalah 100" required>
                    </div>
                </div>
                {% endfor %}
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
    {% endif %}
</div>
{% endblock %}